@model List < Social_Stocks_Instrument_.Models.StockInfo>



<form action="~/Controllers/HomeController/Submit" method="post">
    <input type="text" id="symbol" name="symbol" />
    <input type="text" id="startDate" name="startDate" />
    <input type="text" id="endDate" name="endDate" />
    <input name="submit" type="submit" value="submit" />
</form>




<!--Stock Symbol:<input id="symbol" type="text" />
</br></br>
Start:<input id="startDate" type="date" />
End:<input id="endDate" type="date" />

<input id="submitDate" type="submit" value="submit" />-->